<h1>Cadastrar cor</h1>
<form action="/cores" method="POST">
    <div class="form-group">
        <label for="nome">Nome da cor</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>