<h1>Editar cor</h1>
<form action="/cores/<%= cor.id %>?_method=PUT" method="POST">
    <div class="form-group">
        <label for="nome">Nome da cor</label>
        <input type="text" class="form-control" id="nome" name="nome" value="<%= cor.nome %>" required>
    </div>
    <button type="submit" class="btn btn-warning">Salvar</button>
</form>